<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Text Summarization</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link href="bulma.css" rel="stylesheet">
</head>

<body class='content' style="width: 100%">
  <div style="margin: 0 auto; margin-top: 30px; max-width: 600px; width: 40%;">
    <h1 class="is-large" style="color: hsl(171, 100%, 41%)">Summary:</h1>
    <p>
        {{result}}
    </p>
  </div>
</body>

</html>